<%#
This file defines a mini user interface displayed in the My Interactive Sessions page
For more information, see https://osc.github.io/ood-documentation/latest/how-tos/app-development/interactive/view.html
%>
<a href="/rnode/<%= host %>/<%= port %>/">Click me!</a>
